<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
   <title>CS 130A Class Web Site</title>
   <link href='/~YOURNAME/stylesheets/130a.css' rel='stylesheet' type='text/css' />
 </head>
 <body>
   <div id='container'>
   <div id='banner'>
        </div>
   <div id='navigation'>
     <?php include (VIEWS . $DIR . "$VIEW"); ?>
   </div>
   <div id='footer'>
  </div>
 </div>
 </body>
 </html>